<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Musical Program{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='stage_icon.ico') }}">
  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <p class="navbar-item" >
        🎭 Musical Program
      </p>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('edit.dashboard') }}">Director</a>
        <a class="navbar-item" href="{{ url_for('view.index') }}">Reader</a>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <section class="section">
    <div class="container">
      {% block content %}
      <!-- Child templates inject their content here -->
      {% endblock content %}
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Musical Program</strong> Andrew Harris
      </p>
    </div>
  </footer>

</body>
</html>
